@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");


.img-responsive {
  
}

.full {
 /*background: url(http://placehold.it/1920x1080) no-repeat center center fixed;*/
 background: url("../images/laser_keyboard.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.jumbotron-johanna {
    margin-bottom: 0px;
    background-image: url("../scripts/images/quic.png");
    background-position: center;
    background-size: 28%;
    background-color: #E1CB17 !important;
    background-repeat: no-repeat;
    color: #992973;
    text-shadow: black 0.05em 0.05em 0.05em;
}


.jumbotron-johanna2 {
    margin-bottom: 0px;
    background-image: url("..");
    background-position: center;
    background-size: 28%;
    background-color: #E1CB17 !important;
    background-repeat: no-repeat;
    color: #992973;
    text-shadow: black 0.05em 0.05em 0.05em;
}